<% if @merchandise.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@merchandise.errors.count, "error") %>
      prohibited this merchandise from being saved:
    </h2>
 
    <ul>
    <% @merchandise.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
<%= render partial:"form" %>